html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

html {
  font-size: 62.5%;
}

@keyframes motionPath {
  0% {
    transform: rotate(0deg) translateX(10.3rem) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(10.3rem) rotate(-360deg);
  }
}

@keyframes navPointer {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes flowIn {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flowInBT {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flowInRL {
  0% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flowInLR {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes writing {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1rem, -1rem);
  }
  20% {
    transform: translate(2rem, 0);
  }
  30% {
    transform: translate(3rem, -1rem);
  }
  40% {
    transform: translate(4rem, 0);
  }
  50% {
    transform: translate(5rem, -1rem);
  }
  60% {
    transform: translate(6rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatInLR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes filling {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1rem);
  }
}

@keyframes science {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-0.25rem, -0.25rem);
  }
  50% {
    transform: translate(-0.5rem, 0);
  }
  75% {
    transform: translate(-0.25rem, 0.25rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes motionPath {
  0% {
    transform: rotate(0deg) translateX(10.3rem) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(10.3rem) rotate(-360deg);
  }
}

@keyframes navPointer {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes flowIn {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flowInBT {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flowInRL {
  0% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flowInLR {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes writing {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1rem, -1rem);
  }
  20% {
    transform: translate(2rem, 0);
  }
  30% {
    transform: translate(3rem, -1rem);
  }
  40% {
    transform: translate(4rem, 0);
  }
  50% {
    transform: translate(5rem, -1rem);
  }
  60% {
    transform: translate(6rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatInLR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes filling {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1rem);
  }
}

@keyframes science {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-0.25rem, -0.25rem);
  }
  50% {
    transform: translate(-0.5rem, 0);
  }
  75% {
    transform: translate(-0.25rem, 0.25rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

.step-images {
  margin-top: -0.2rem;
  margin-left: -0.2rem;
  width: 20.8rem;
  height: 20.8rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
          mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  z-index: -1;
}

.step-image {
  position: absolute;
  top: 0;
  left: 0;
}

.bv-s1-items, .bv-s1-hand,
.bv-s2-hand, .bv-s2-notes, .bv-s2-item,
.bv-s3-hand, .bv-s3-items,
.bv-s4-items, .bv-s4-hands {
  top: auto;
}

.bv-s1-items, .bv-s1-hand,
.bv-s2-hand, .bv-s2-notes, .bv-s2-item,
.bv-s4-items, .bv-s4-hands {
  bottom: 0;
}

.bv-s1-bg {
  opacity: 0.35;
  mix-blend-mode: lighten;
  width: 40rem;
  display: block;
}

.bv-s1-items, .bv-s1-hand {
  bottom: -2rem;
  animation: flowInBT 0.5s ease-in;
}

.bv-s1-items {
  left: -3.5rem;
  animation: flowInBT 0.5s ease-in;
}

.bv-s1-hand {
  width: 1.4rem;
  left: auto;
  right: -1rem;
  bottom: 6rem;
  width: 70%;
  animation: flowInRL 0.5s ease-in, floatInLR 2s linear 0.5s infinite;
}

.bv-s2-bg {
  opacity: 0.2;
  mix-blend-mode: multiply;
}

.bv-s2-hand, .bv-s2-notes {
  width: 12rem;
  left: auto;
  right: 0;
}

.bv-s2-hand {
  bottom: -1rem;
  animation: flowInRL 0.5s ease-in, writing 2s linear 0.5s infinite;
}

.bv-s2-notes {
  width: 14rem;
  animation: flowInRL 0.5s ease-in;
}

.bv-s2-item {
  bottom: -1rem;
  left: 1rem;
  width: 10rem;
  animation: flowInBT 0.5s ease-in;
}

.bv-s3-items {
  bottom: -1rem;
  animation: flowInBT 0.5s ease-in;
}

.bv-s3-hand {
  width: 10rem;
  bottom: 7rem;
  animation: flowInLR 0.5s ease-in, filling 0.5s linear 0.5s infinite;
}

.bv-s4-bg {
  width: 40rem;
}

.bv-s4-items, .bv-s4-hands {
  width: 60%;
}

.bv-s4-items {
  left: -2rem;
  animation: flowInBT 0.5s ease-in;
}

.bv-s4-hands {
  opacity: 0.6;
  width: 70%;
  left: auto;
  right: -2rem;
  bottom: -1rem;
  animation: flowInRL 0.5s ease-in, science 1s linear 0.5s infinite;
}

body, html, .react-app, .window {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.4rem;
  font-family: 'gotham', sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

span {
  display: block;
}

img {
  width: 100%;
}

button {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #b53471;
  line-height: 6rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
  opacity: 0.3;
  color: #b53471;
  margin-bottom: 2.5rem;
}

.window {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}

.window:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  background: url("/assets/img/bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: -100;
}

.left-screen, .right-screen {
  width: 60vh;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
  color: #4d1034;
  position: relative;
  overflow: hidden;
}

.left-screen:before, .left-screen:after, .right-screen:before, .right-screen:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-screen:before, .right-screen:before {
  background: #ffae00;
  mix-blend-mode: color-burn;
  opacity: 0.2;
  transform: skewX(45deg) translate(-400px, 320px);
  transform: skewX(45deg) translate(-40rem, 32rem);
  z-index: -5;
}

.left-screen:after, .right-screen:after {
  background: url("/assets/img/bg_bv_about.jpg");
  background-blend-mode: multiply;
  z-index: -10;
}

/* ----------------------------------
  ICONS
---------------------------------- */
.icon {
  overflow: hidden;
  width: 2.5rem;
}

.icon img {
  width: 300%;
  transition: transform 0.3s ease-in;
}

.made-for-me-container .icon img, .made-for-me-container .arrow img {
  transform: translateX(-33.5%);
}

.made-by-me-container .icon img, .made-by-me-container .arrow img {
  transform: translateX(-67.5%);
}

/* ----------------------------------
  LEFTSCREEN GENERAL
---------------------------------- */
.left-screen header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 4rem;
}

.tags {
  font-weight: 500;
  margin: 0.5rem 0 0.5rem 0;
}

.left-nav {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1.5rem;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.nav-item {
  margin-bottom: 1rem;
  transition: all 0.3s ease-in;
  color: #4d1034;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.pointer {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #4d1034;
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: -0.3rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.pointer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 11px;
  width: 1.1rem;
  height: 11px;
  height: 1.1rem;
  border-radius: 50%;
  top: -3px;
  top: -0.3rem;
  left: -3px;
  left: -0.3rem;
  border: 1px solid #4d1034;
  border: 0.1rem solid #4d1034;
  animation: navPointer 1.5s ease-in infinite;
}

.nav-item.active {
  color: #b53471;
}

.nav-item.active .pointer {
  background: #b53471;
}

.nav-item.active .pointer:before {
  display: none;
}

.related-stores, .related-store {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-align: end;
      align-items: flex-end;
}

.related-stores {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.related-store {
  -ms-flex-align: end;
      -ms-grid-row-align: flex-end;
      align-items: flex-end;
  width: 50%;
}

.related-store span, .related-store figure {
  -ms-flex-order: 0;
      order: 0;
}

.related-store .icon {
  max-width: 2rem;
}

.crafter-name {
  font-weight: 500;
  line-height: 2rem;
}

.distance {
  font-size: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.arrow {
  width: 1rem;
  margin-left: 0.5rem;
  -ms-flex-order: 0;
      order: 0;
  overflow: hidden;
}

.arrow img {
  width: 300%;
}

.related-store:first-child .crafter {
  text-align: right;
  margin: 0 1rem 0 2rem;
}

.related-store:first-child .distance .arrow {
  transform: scaleX(-1);
  margin-left: 0;
  margin-right: 0.5rem;
}

.related-store:last-child figure {
  -ms-flex-order: -1;
      order: -1;
}

.related-store:last-child .distance {
  -ms-flex-order: 1;
      order: 1;
}

.related-store:last-child .distance .arrow {
  -ms-flex-order: 1;
      order: 1;
}

.related-store:last-child .crafter {
  margin: 0 2rem 0 1rem;
}

/* ----------------------------------
  ABOUT ME
---------------------------------- */
.about-me-container:after {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.7) 0%, rgba(148, 91, 159, 0.7) 150%), url("/assets/img/bg_bv_about.jpg");
}

.about-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  color: #ffffff;
  line-height: 2rem;
  margin-top: -10vh;
}

.portrait {
  width: 33rem;
  display: block;
  margin-bottom: 0.5rem;
}

.quote {
  max-width: 32rem;
}

/* ----------------------------------
  MADE FOR ME
---------------------------------- */
.made-for-me-container {
  color: #205d45;
}

.made-for-me-container h1 {
  color: #31855c;
}

.made-for-me-container .nav-item {
  color: #205d45;
}

.made-for-me-container .nav-item .pointer {
  background: #205d45;
}

.made-for-me-container .nav-item .pointer:before {
  border-color: #205d45;
}

.made-for-me-container .nav-item.active {
  color: #31855c;
}

.made-for-me-container .nav-item.active .pointer {
  background: #31855c;
}

.made-for-me-container:after {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.7) 0%, rgba(28, 226, 218, 0.7) 150%), url("/assets/img/bg_bv_about.jpg");
}

.made-for-me h1, .made-for-me h2 {
  color: #31855c;
}

.made-for-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  transform: translateY(-3rem);
}

.made-for-me h2 {
  margin-bottom: 0;
}

.made-for-me .canvas {
  top: 0.8rem;
  left: 0.5rem;
  z-index: -2;
}

.step-container {
  position: relative;
  width: 27rem;
  height: 27rem;
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.morph-bg {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.step-circle {
  width: 21rem;
  height: 21rem;
  border: 0.3rem solid rgba(230, 247, 230, 0.6);
  border-radius: 50%;
  font-weight: 500;
  position: relative;
}

.step-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0;
  font-size: 1rem;
  position: absolute;
  left: 9.5rem;
  top: 9.5rem;
  transition: all 0.3s ease-in;
  animation: motionPath 60s linear infinite;
}

.step-btn-1 {
  animation-delay: -15s;
}

.step-btn-2 {
  animation-delay: -30s;
}

.step-btn-3 {
  animation-delay: -45s;
}

.step-btn.active {
  background: white;
  width: 2rem;
  height: 2rem;
  left: 9.2rem;
  top: 9.2rem;
}

.creation-step {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  color: #ffffff;
  width: 30rem;
  line-height: 2rem;
}

.creation-step h3, .step-count {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2.1rem;
  opacity: 0;
  transform: translateY(2rem);
}

.creation-step h3 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 3rem;
}

.creation-step.active h3,
.creation-step.active .step-count {
  animation: flowIn 0.6s ease-in forwards;
}

.step-count {
  color: rgba(255, 255, 255, 0.2);
  font-size: 2.5rem;
}

.creation-info {
  opacity: 0;
  animation: flowIn 0.6s 0.2s ease-in forwards;
}

/* ----------------------------------
  MADE BY ME
---------------------------------- */
.made-by-me-container {
  color: #56472f;
}

.made-by-me-container .nav-item {
  color: #56472f;
}

.made-by-me-container .nav-item .pointer {
  background: #56472f;
}

.made-by-me-container .nav-item .pointer:before {
  border-color: #56472f;
}

.made-by-me-container .nav-item.active {
  color: #98845b;
}

.made-by-me-container .nav-item.active .pointer {
  background: #98845b;
}

.made-by-me-container h1 {
  color: #98845b;
}

.made-by-me-container h2 {
  text-align: center;
  transform: translateY(-1rem);
}

.made-by-me-container:after {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.7) 0%, rgba(229, 216, 164, 0.7) 150%), url("/assets/img/bg_bv_about.jpg");
}

.made-by-me-container .left-nav {
  z-index: 5;
}

.photos {
  width: 90%;
  margin-left: 2.5rem;
  height: 60vh;
  position: relative;
}

.photo-container {
  width: 16rem;
  position: absolute;
  top: 7rem;
  left: 15rem;
  margin: auto;
  transform-origin: center center;
  background: #fbf1cd;
  border: 0.5rem solid #fbf1cd;
  border-bottom: 1rem solid #fbf1cd;
  border-radius: 0.2rem;
  backface-visibility: hidden;
  font-size: 0.7rem;
}

.photo-container.active {
  border-bottom: 0.5rem solid #fbf1cd;
}

.close-button {
  background: #56472f;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: none;
}

.close-cross {
  position: relative;
}

.close-cross:before, .close-cross:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  top: 8.5px;
  top: 0.85rem;
  left: 2.1px;
  left: 0.21rem;
  width: 15px;
  width: 1.5rem;
  height: 2px;
  height: 0.2rem;
  background: #fbf1cd;
  border-radius: 2px;
  border-radius: 0.2rem;
  transform: rotate(45deg);
}

.close-cross:after {
  transform: rotate(-45deg);
  left: 3.1px;
  left: 0.31rem;
}

.photo-container .user {
  display: none;
  font-size: 1rem;
  margin-bottom: 0;
}

.photo-container.inactive {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5.6" /></filter></svg>#filter');
  -webkit-filter: blur(0.35rem);
          filter: blur(0.35rem);
  opacity: 0.8;
}

.photo-container.active .user,
.photo-container.active .close-button {
  display: block;
}

.photo-container .user {
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 1rem 0;
}

.photo-container .user .user-name {
  margin-bottom: 0.7rem;
}

.photo-container .user .user-handler {
  color: #56472f;
  opacity: 0.8;
}

/* ----------------------------------
  RIGHT SCREEN
---------------------------------- */
.right-screen {
  color: #ffffff;
}

h3, .user-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 0.7;
}

h3.user-name {
  opacity: 1;
}

.right-screen .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.store-info {
  -ms-flex: 3;
      flex: 3;
}

.waiting-line {
  background: rgba(55, 121, 90, 0.5);
  padding: 2rem 3rem;
  font-size: 1rem;
}

.upcoming-events {
  background: rgba(191, 171, 120, 0.8);
  padding: 2rem 3rem;
  font-size: 1rem;
}

.opening-hours {
  background: rgba(148, 43, 101, 0.5);
  padding: 2rem 1rem;
  font-size: 1.2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  z-index: 5;
  -ms-flex: 1;
      flex: 1;
}

.opening-hours .canvas {
  top: 1.5rem;
  left: 1.8rem;
}

.tags {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.event {
  display: -ms-flexbox;
  display: flex;
}

.event dt {
  -ms-flex: 1;
      flex: 1;
}

.event dd {
  -ms-flex: 2;
      flex: 2;
}

.event:first-child {
  margin-bottom: 0.7rem;
}

.today {
  width: 8rem;
  height: 8rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 5;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.hour {
  font-size: 1.8rem;
}

.today-opened {
  font-weight: 300;
  opacity: 0.3;
}

.opened {
  font-weight: 500;
}

.next-days p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.products {
  color: #56472f;
  font-size: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  line-height: 1.3rem;
  padding-right: 5rem;
  margin-top: 1.5rem;
  line-height: 2rem;
}

.products h1 {
  color: #98845b;
  opacity: 0.5;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 4rem;
  margin-left: 2rem;
}

.products h2 {
  font-size: 2.3rem;
  color: #98845b;
  opacity: 1;
}

.product-mood {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: -3rem;
  transform: translateY(3.5rem);
}

.product-mood figure {
  width: 19rem;
}

.product-details {
  -ms-flex: 1.5;
      flex: 1.5;
  margin: 0 4rem 0 5rem;
}

.product-nav {
  margin-left: -5.5rem;
}

.product-nav .pointer {
  width: 1rem;
  height: 1rem;
  display: block;
  background: #ffffff;
  margin-bottom: 3rem;
}

.product-nav .pointer:before {
  width: 22px;
  width: 2.2rem;
  height: 22px;
  height: 2.2rem;
  top: -6px;
  top: -0.6rem;
  left: -6px;
  left: -0.6rem;
  border-color: #ffffff;
}

.product-nav .pointer:nth-child(2) {
  margin-left: 0.4rem;
}

.product-nav .pointer:nth-child(3) {
  margin-left: 0.4rem;
}

.product-nav .pointer:nth-child(4) {
  margin-left: 0.8rem;
}

.tweets {
  background: #819F8C;
  padding: 1.5rem 3rem;
}

.tweet:first-child {
  margin-bottom: 1.5rem;
}

.tweet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 1rem;
  line-height: 1.3rem;
}

.profile-pic img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 0.5rem;
}

.user .icon {
  display: inline-block;
  width: 1rem;
  margin-right: 0.3rem;
  transform: translateY(0.35rem);
}

.user .icon img {
  width: 100%;
}

.user-handler {
  text-transform: lowercase;
  display: inline-block;
  color: #cbc8c8;
  font-weight: 300;
  margin-left: 0.5rem;
}

.created-at {
  color: #cbc8c8;
}
