html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

html {
  font-size: 62.5%;
}

@keyframes motionPath {
  from {
    transform: rotate(0deg) translateX(15rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(15rem) rotate(-360deg);
  }
}

body, html, main, .react-app, .window {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.3rem;
  font-family: 'gotham', sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}

span {
  display: block;
}

img {
  width: 100%;
}

button {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

h1 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

.window {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.left-screen, .right-screen {
  width: 37.5%;
  height: 100%;
}

/* ----------------------------------
  LEFTSCREEN GENERAL
---------------------------------- */
.left-screen {
  background: #8FBEBE;
  color: #EEFCEB;
}

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.icon {
  width: 3rem;
}

.related-stores, .related-store {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.related-store {
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 50%;
}

.related-store span, .related-store figure {
  -ms-flex-order: 0;
      order: 0;
}

.related-store:last-child figure {
  -ms-flex-order: -1;
      order: -1;
}

.related-store:last-child .distance {
  -ms-flex-order: 1;
      order: 1;
}

/* ----------------------------------
  ABOUT ME
---------------------------------- */
.about-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.portrait {
  width: 30rem;
  display: block;
}

/* ----------------------------------
  MADE FOR ME
---------------------------------- */
.made-for-me {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 40rem;
  position: relative;
}

.creation-step {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background: #AA6934;
}

.morph-btns {
  position: absolute;
  width: 100%;
  display: block;
  top: 45%;
  left: 45%;
}

.morph-btn {
  width: 7vh;
  height: 7vh;
  animation: motionPath 60s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#morph-btn1 {
  animation-delay: -15s;
}

#morph-btn2 {
  animation-delay: -30s;
}

#morph-btn3 {
  animation-delay: -45s;
}

/* ----------------------------------
  MADE BY ME
---------------------------------- */
.photos {
  width: 100%;
  position: relative;
}

.photo {
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  display: block;
}

.photo img {
  border: 0.5rem solid white;
}
