$broken-white: #fbf1cd;
$white: #ffffff;
$grey: #cbc8c8;
$yellow: #ffae00;

//About Me
$main-color-about: #4d1034; //dark purple
$accent-color-about: #b53471; //light purple
$background-color-about: #c4a56f;

//Made FOR Me
$main-color-forme: #205d45; //dark green
$accent-color-forme: #31855c; //light purple
$background-color-forme: #c4a56f;

$morphing-blue: #668198;
$morphing-purple: #21252B;
$morphing-green: #282C34;

//Made BY Me
$main-color-byme: #56472f; //dark purple
$accent-color-byme: #98845b; //light purple
$background-color-byme: #c4a56f;
$nav-color-byme: #e5d9a1;
