@import 'reset';
@import 'variables';
@import 'mixins';
@import 'animations';

body, html, main, .react-app, .window {
  width: 100%;
  height:100%;
}

body {
  font-size: 1.3rem;
  font-family: 'gotham', sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}

span {
  display: block;
}

img {
  width: 100%;
}

button {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

h1 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: $accent-color;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

.window {
  display: flex;
  justify-content:space-between;
}

.left-screen, .right-screen{
  width: 60vh;
  height: 100vh;
}

/* ----------------------------------
  LEFTSCREEN GENERAL
---------------------------------- */
.left-screen {
  background: $background-color;
  color: $main-color;
}

header {
  @include center;
  flex-direction: column;
}

.icon {
  width: 3rem;
}

.related-stores, .related-store {
  @include center;
}

.related-store {
  justify-content: space-between;
  width: 50%;

  span, figure {
    order: 0;
  }
}

.related-store:last-child {
  figure {
    order: -1;
  }
  .distance {
    order: 1;
  }
}


/* ----------------------------------
  ABOUT ME
---------------------------------- */
.about-me {
  @include center;
  flex-direction: column;
}
.portrait {
  width: 30rem;
  display:block;
}

/* ----------------------------------
  MADE FOR ME
---------------------------------- */
.made-for-me {
  @include center;
  width: 100%;
  height: 40rem;

  position: relative;
}

.creation-step {
  @include center;
  flex-direction: column;
  text-align: center;

  width: 30rem;
  height: 30rem;
  border-radius: 50%;

  background: $background-color;
}

.morph-btns {
  position: absolute;
  width:100%;
  display: block;

  top: 45%;
  left: 45%;
}

.morph-btn {
  width: 7vh;
  height: 7vh;

  animation: motionPath 60s linear infinite;

  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#morph-btn1 { animation-delay: -15s; }
#morph-btn2 { animation-delay: -30s; }
#morph-btn3 { animation-delay: -45s; }

/* ----------------------------------
  MADE BY ME
---------------------------------- */
.photos {
  width: 100%;
  height: 60vh;

  border: 1px solid red;
  position: relative;
}

.photo-container {
  width: 20rem;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin: bottom right;
  display:block;

  background: $broken-white;
  border: 0.5rem solid $broken-white;
}

.photo-container .photo-info {
  display: none;
}

.photo-container.inactive {
  filter: blur(0.25rem);
  opacity: 0.8;
}

.photo-container.active .photo-info {
  display: block;
}

/* ----------------------------------
  RIGHT SCREEN
---------------------------------- */
.right-screen {
  color: $white;
  background: $background-color;
}
.tweets {
  background: #819F8C;
}

.tweet {
  display: flex;

}

.profile-pic img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.user {
  display: flex;
  justify-content: space-between;
}

.user-name {
  text-transform: uppercase;
  font-weight: 500;
}

.user-handler {
  text-transform: lowercase;
  display: inline-block;
  color: $grey;
  font-weight: 300;
}

.created-at {
  color: $grey;
}
