@import 'reset';
@import 'variables';
@import 'mixins';
@import 'animations';
@import 'creation_steps';

body, html, .react-app, .window {
  width: 100%;
  height:100%;
}

body {
  font-size: 1.4rem;
  font-family: 'gotham', sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}

a {
  color: $white;
  text-decoration: none;
  display: block;
}

span {
  display: block;
}

img {
  width: 100%;
}

button {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: $accent-color-about;
  line-height: 6rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 500;
  opacity: 0.3;
  color: $accent-color-about;
  margin-bottom: 2.5rem;
}

.window {
  display: flex;
  justify-content:space-between;
}

.left-screen, .right-screen{
  width: 60vh;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  color: $main-color-about;
  position: relative;
  overflow:hidden;

  &:before, &:after { //background with before/after to prevent zindex click issues
    @include before-after;

    width: 100%;
    height: 100%;
  }

  &:before {
    background: $yellow;
    mix-blend-mode: color-burn;
    opacity: 0.2;

    transform: skewX(45deg) translate(-40rem, 32rem);
    z-index:-5;
  }

  &:after {
    background: url('/assets/img/bg_bv_about.jpg');
    background-blend-mode: multiply;
    z-index:-10;
  }
}

/* ----------------------------------
  ICONS
---------------------------------- */
.icon {
  overflow:hidden;
  width: 2.5rem;

  img {
    width: 300%;
    transition: transform 0.3s ease-in;
  }
}

.made-for-me-container {
  .icon img, .arrow img {
    transform: translateX(-33.5%);
  }
}

.made-by-me-container {
  .icon img, .arrow img {
    transform: translateX(-67.5%);
  }
}



/* ----------------------------------
  LEFTSCREEN GENERAL
---------------------------------- */
//header
.left-screen header {
  @include center;
  flex-direction: column;
  margin-top: 4rem;
}

.tags {
  font-weight: 500;
  margin: 0.5rem 0 0.5rem 0;
}

//navigation
.left-nav {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1.5rem;

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  @include center;
  justify-content: flex-start;
}

.nav-item {
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in;

  @include center;
  justify-content: flex-start;
}

.pointer {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;

  display: inline-block;
  margin-right: 0.5rem;
  margin-top: -0.3rem;

  position: relative;
  cursor: pointer;

  &:before {
    @include before-after;
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    top: -0.3rem;
    left: -0.3rem;

    border: 0.1rem solid $white;

    animation: navPointer 1.5s ease-in infinite;
  }
}

.nav-item.active {
  opacity: 0;
  transform: scale(0) translateY(0rem);
}

.nav-byme {
  color: $nav-color-byme;

  .pointer {
    background: $nav-color-byme;

    &:before {
      border-color: $nav-color-byme;
    }
  }
}

.nav-forme {
  color: $main-color-forme;

  .pointer {
    background: $main-color-forme;

    &:before {
      border-color: $main-color-forme;
    }
  }
}

.nav-about {
  color: $main-color-about;

  &.transform {
    transform: translateY(-1.6rem);
  }

  .pointer {
    background: $main-color-about;

    &:before {
      border-color: $main-color-about;
    }
  }
}

//related stores
.related-stores, .related-store {
  @include center;
  align-items: flex-end;
}

.related-stores {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.related-store {
  align-items: flex-end;
  width: 50%;

  span, figure {
    order: 0;
  }

  .icon {
    max-width: 2rem;
  }
}

.crafter-name {
  font-weight: 500;
  line-height: 2rem;
}

.distance {
  font-size: 1rem;
  @include center;
}

.arrow {
  width: 1rem;
  margin-left: 0.5rem;
  order: 0;
  overflow:hidden;

  img {
    width: 300%;
  }
}

.related-store:first-child {
  .crafter {
    text-align: right;
    margin: 0 1rem 0 2rem;
  }

  .distance .arrow {
    transform: scaleX(-1);
    margin-left: 0;
    margin-right: 0.5rem;
  }
}

.related-store:last-child {
  figure {
    order: -1;
  }
  .distance {
    order: 1;

    .arrow {
      order: 1;
    }
  }
  .crafter {
    margin: 0 2rem 0 1rem;
  }
}



/* ----------------------------------
  ABOUT ME
---------------------------------- */
.about-me-container:after {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.70) 0%, rgba(148, 91, 159, 0.70) 150%),
              url('/assets/img/bg_bv_about.jpg');
}

.about-me {
  @include center;
  flex-direction: column;
  text-align: center;
  color: $white;
  line-height: 2rem;

  margin-top: -15vh;
}

.portrait {
  width: 40rem;
  display:block;
  margin-bottom: 0.5rem;
}

.quote {
  max-width: 32rem;
}

/* ----------------------------------
  MADE FOR ME
---------------------------------- */
.made-for-me-container {
  color: $main-color-forme;

  h1 {
    color: $accent-color-forme;
  }

  &:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.70) 0%, rgba(28, 226, 218, 0.70) 150%),
                url('/assets/img/bg_bv_about.jpg');
  }
}

.made-for-me h1, .made-for-me h2 {
  color: $accent-color-forme;
}

.made-for-me {
  @include center;
  flex-direction: column;
  justify-content: space-between;

  .canvas {
    top: 0.5rem;
    left: 0.2rem;

    z-index: -2;
  }
}

.step-container {
  position: relative;
  width: 27rem;
  height: 27rem;

  @include center;
}

.morph-bg {
  position: absolute;
  top: 0rem;
  left: 0rem;

  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  padding-bottom: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.step-circle {
  width: 21rem;
  height: 21rem;
  border: 0.3rem solid rgba(230, 247, 230, 0.6);
  border-radius: 50%;

  font-weight: 500;
  position: relative;
}

.step-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0;

  font-size: 1rem;

  position: absolute;
  left: 9.5rem;
  top: 9.5rem;

  transition: all 0.3s ease-in;
  animation: motionPath 60s linear infinite;
}

.step-btn-1 { animation-delay: -15s; }
.step-btn-2 { animation-delay: -30s; }
.step-btn-3 { animation-delay: -45s; }

.step-btn.active {
  background: rgba(255, 255, 255, 1);
  width: 2rem; //with this animation, scalen not possible
  height: 2rem;
  left: 9.2rem;
  top: 9.2rem
}

.creation-step {
  @include center;
  flex-direction: column;

  text-align: center;
  color: $white;
  width: 30rem;
  line-height: 2rem;
}

.creation-step h3, .step-count {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.1rem;

    opacity: 0;
    transform: translateY(2rem);
    animation: flowIn 0.6s ease-in forwards;
}

.creation-step h3 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 3rem;
}

.step-count {
  color: rgba(255, 255, 255, 0.2);
  font-size: 2.5rem;
}

.creation-info {
  opacity: 0;
  animation: flowIn 0.6s 0.2s ease-in forwards;
}

/* ----------------------------------
  MADE BY ME
---------------------------------- */
.made-by-me-container {
  color: $main-color-byme;

  h1 {
    color: $accent-color-byme;
  }

  &:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.70) 0%, rgba(229, 216, 164, 0.70) 150%),
                url('/assets/img/bg_bv_about.jpg');
  }

  .left-nav {
    z-index: 5;
  }
}

.photos {
  width: 90%;
  margin-left: 2.5rem;
  height: 60vh;

  position: relative;
}

.photo-container {
  width: 16rem;

  position: absolute;
  top: 10rem;
  left: 15rem;

  margin: auto;

  transform-origin: center center;
  display:block;

  background: $broken-white;
  border: 0.5rem solid $broken-white;
  border-bottom: 1rem solid $broken-white;

  border-radius: 0.2rem;
  backface-visibility: hidden;

  font-size: 0.7rem;
}

.close-button {
  background: $main-color-byme;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: none;
}

.close-cross {
  position: relative;

  &:before, &:after {
    @include before-after;
    top: 0.85rem;
    left: 0.21rem;
    width: 1.5rem;
    height: 0.2rem;
    background: $broken-white;
    border-radius: 0.2rem;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
    left: 0.31rem;
  }
}

.photo-container .user {
  display: none;
  font-size: 1rem;
}

.photo-container.inactive {
  filter: blur(0.35rem);
  opacity: 0.8;
}

.photo-container.active .user,
.photo-container.active .close-button {
  display: block;
}

.photo-container .user {
  flex-direction: column;
  padding: 1rem 0;

  .user-name {
    margin-bottom: 0.7rem;
  }

  .user-handler {
    color: $main-color-byme;
    opacity: 0.8;
  }

}

/* ----------------------------------
  RIGHT SCREEN
---------------------------------- */
.right-screen {
  color: $white;
}

h3, .user-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 0.7;
}

h3.user-name {
  opacity: 1;
}

//header
.right-screen .header {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.store-info {
  flex: 3;
}

.waiting-line {
  background: rgba(55, 121, 90, 0.5);
  padding: 2rem 3rem;
  font-size: 1rem;
}

.upcoming-events {
  background: rgba(191, 171, 120, 0.8);
  padding: 2rem 3rem;
  font-size: 1rem;
}

.opening-hours {
  background: rgba(148, 43, 101, 0.5);
  padding: 2rem 1rem;

  font-size: 1.2rem;

  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  position: relative; //to position canvas
  z-index: 5;

  flex: 1;

  .canvas {
    top: 1.5rem;
    left: 1.8rem;
  }
}

.tags {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.event {
  display: flex;

  dt {
    flex: 1;
  }

  dd {
    flex: 2;
  }
}

.event:first-child {
  margin-bottom: 0.7rem;
}

.today {
  width: 8rem;
  height: 8rem;

  @include center;

  position: relative;
  z-index: 5;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.hour {
  font-size: 1.8rem;
}

.today-opened {
  font-weight: 300;
  opacity: 0.3;
}

.opened {
  font-weight: 500;
}

.next-days p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1rem;
}

//products
.products {
  color: $main-color-byme;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.3rem;

  padding-right: 5rem;
  margin-top: 1.5rem;
  line-height: 2rem;
}

.products h1 {
  color: $accent-color-byme;
  opacity: 0.5;

  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 4rem;

  margin-left: 2rem;
}

.products h2 {
  font-size: 2.3rem;
  color: $h2-color-byme;
  opacity: 1;
}

.product-mood {
  flex: 1;
  align-self: flex-end;
  display:flex;
  align-items: center;

  margin-left: -3rem;
  transform: translateY(2rem);

  figure {
    width: 19rem;
  }
}

.product-details {
  flex: 1.5;
  margin: 0 4rem 0 5rem;
}

.product-nav {
  margin-left: -5.5rem;
}

.product-nav .pointer {
  width: 1rem;
  height: 1rem;

  display: block;
  background: $white;
  margin-bottom: 3rem;

  &:before {
    width: 2.2rem;
    height: 2.2rem;
    top: -0.6rem;
    left: -0.6rem;
  }
}

.product-nav .pointer:nth-child(2) {
  margin-left: 0.4rem;
}

.product-nav .pointer:nth-child(3) {
  margin-left: 0.4rem;
}

.product-nav .pointer:nth-child(4) {
  margin-left: 0.8rem;
}


//tweets
.tweets {
  background: #819F8C;
  padding: 1.5rem 3rem;
}

.tweet:first-child {
  margin-bottom: 1.5rem;
}

.tweet {
  @include center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.3rem;
}

.profile-pic img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;


  .icon {
    display: inline-block;
    width: 1rem;
    margin-right: 0.3rem;
  }
}

.user-handler {
  text-transform: lowercase;
  display: inline-block;
  color: $grey;
  font-weight: 300;
  margin-left: 0.5rem;
}

.created-at {
  color: $grey;
}
